// PRIMARY COLORS
$dark-orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

// SECONDARY COLORS
$blue-400: hsl(220, 13%, 13%);
$blue-300: hsl(219, 9%, 45%);
$blue-200: hsl(220, 14%, 75%);
$blue-100: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$black-background: hsla(0, 0%, 0%, 75%);

//FONT
$font-family: 'Kumbh Sans', 'Inter', sans-serif;
$fw-regular: 500;
$fw-medium: 500;
$fw-bold: 700;
$fw-extrabold: 700;
$fw-black: 700;