header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        display: flex;
        align-items: center;

        nav ul {
            display: flex;
        }
    }

    .right {
        display: flex;
    }


}