@use '../abstract/variables' as *;

.sidebar__nav {
    position: absolute;
    background-color: $white;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: 250px;
    padding: 1.5rem;

    nav {
        margin-block-start: 4rem;
        li {
            padding: 1rem 0;
            font-size: 1.5rem;
            font-weight: $fw-bold;
            color: $black;
    
            &:hover {
                border-bottom: $blue-300;
            }
        }
    }
    
}


.desktop__nav {
    ul {
        display: flex;
        gap: 1rem;
        align-items: center;
        list-style: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;

        li {
            position: relative;
        }

        li a {
            font-weight: $fw-medium;
            color: $blue-300;
            cursor: pointer;
            display: block;

            &:hover {
                color: $black;
            }
        }

            li::before {
                content: "";
                position: absolute;
                display: none;
                bottom: -200%;
                background-color: $dark-orange;
                height: 5px;
                width: 100%;
	        }

            li:hover::before {
                display: inline-block;
                animation: spin .5s ease-in-out;
                transform-origin: top left;
            }

            @keyframes spin {
            0% {
                transform: scaleX(0);
            }
            100% {
                transform: scaleX(100%);
            }
            }
    }
}